body {
    font-family: Verdana, sans-serif;
    background-color: whitesmoke;
  }
  .container {
    max-width: 1200px;
    margin: 0px auto;
  }
  h1 {
    font-weight: 700;
    font-size: 1.5em;
  }
  
  /* navbar */
  nav {
    height: 60px;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    background-color: #fff;
  }
  nav .container {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
  }
  .nav-logo {
    padding-top: 4px;
  }
  .nav-menu {
    line-height: 30px;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: row;
  }
  .nav-menu ul li {
    margin: 15px 0px;
  }
  .nav-menu a {
    border-radius: 2px;
    border: 1px solid black;
    padding: 5px 20px;
    text-decoration: none;
    /* color: #fede3e; */
  
    background-color: #fff;
    color: black;
  }
  .nav-menu a:hover {
    /* background-color: #fede3e; */
    /* color: black; */
  
    background-color: #fede3e;;
    color: #fff;
  }
  
  
  /* header */
  header {
    padding: 70px 0px 20px;
    border-bottom: 2px solid black;
    background-image: url("../img/sealook.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -120px;
    color: white;
  }
  .header-judul {
    margin: 10px 0 20px;
    line-height: 1.8em;
  }
  /* .header-gambar img {
    max-width: 100%;
  } */
  
  
  /* headquarter */
  .headquarter {
    padding: 20px 0px;
  }
  .headquarter-kota {
    margin: 40px 0px 20px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 0px 100px;
  }
  .bulat {
    width: 25%;
  }
  .bulat img {
    border: 1px solid black;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto 5px;
  }
  .bulat img:hover {
    opacity: .8;
  }
  .headquarter-quote {
    width: 50%;
    margin: 0 auto;
  }
  .headquarter-quote marquee {
    padding: 10px 0px;
  }
  
  
  /* footer */
  footer {
    height: 60px;
    line-height: 60px;
    border-top: 2px solid black;
    font-size: 13px;
    font-style: italic;
    background-color: #fff;
  }
  footer .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-sosmed {
    margin-top: 7px;
  }
  .footer-sosmed a {
    margin: 0 15px;
  }
  .footer-sosmed a i:hover {
    font-size: 30px;
  }
  footer .footer-program {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1em;
  }
  
  
  
  /* responsive mobile */
  @media only screen and (max-width: 600px) {
    .container {
      padding: 0px 2%;
    }
  
  
    nav {
      height: auto;
      position: relative;
    }
    nav .container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .nav-menu {
      margin-top: 5px;
    }
    .nav-menu ul {
      display: flex;
      flex-direction: column;
      /* box-sizing: border-box; */
    }
    .nav-menu ul li {
      margin: 0px auto;
      border: 1px solid black;
      width: 100%;
      border-radius: 2px;
      background-color: #fff;
      color: black;
    }
    .nav-menu a {
      border: none;
    }
    .nav-menu ul li:hover {
      /* background-color: #fede3e; */
      /* color: black; */
    
      background-color: #fede3e;;
      color: #fff;
    }
  
  
    header {
      padding: 10px 0px 20px;
      height: 400px;
      background-position: 0 0;
    }
    .header-judul h1, .headquarter-judul h1 {
      font-size: 18px;
    }
    .header-judul p {
      font-size: 12px;
    }
  
  
    .headquarter-kota {
      /* margin: 40px 0px 20px; */
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 12px;
      /* text-align: center; */
      /* padding: 0px 100px; */
    }
    .bulat {
      width: 50%;
      margin-bottom: 15px;
    }
    .bulat img {
      width: 110px;
      height: 110px;
    }
    .headquarter-quote {
      width: 75%;
      font-size: 12px;
    }
  
  
    footer {
      height: auto;
      line-height: 40px;
      border-top: 2px solid black;
      font-size: 11px;
      font-style: italic;
      background-color: #fff;
    }
    footer .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }